*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#body{
  width: 100%;
  height: calc(100vh - 80px);
  background-color: black;
  display: flex;
}

#play {
  width: 100%;
  height: 100px;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
}

#navcover{
  width: 12%;
  height: calc(100vh - 100px);
  background-color: black;
  position: fixed;
  bottom: 100px;
  left: 0;

}

#maincover{
  width: 88%;
  height: calc(100vh - 100px);
  background-color: #141922;
  position: fixed;
  right: 0;
  bottom: 100px;
  overflow-y: scroll;

}

#brow{
  width: 88%;
  height: 80px;
  background: rgba(7, 11, 18, 0.8);
  color: white;
  position: fixed;
  top: 0;
  z-index: 1;
}

#upgrade{
  position: absolute;
  right: 25px;
  top: 20px;
  width: 20%;
  border: 1px solid white;
  border-radius: 20px;
  padding: 11px 0;
  height: 40px;
  font-size: 12px;
  text-align: center;
}

#column{
  height: 100%;
  display: flex;
  flex-direction: column;
}

#mobile{
  display: none;
}

.navtext{
  width: 100%;
  color: white;
  color: #727272;
}

#navcover li{
  font-size: 12px;
}

#playlist{
 height: 420px;
 padding-left: 10px;
}

#playlist h6{
 font-size: 16px;
 margin: 8px auto;
 color: white;
}


#playlist i{
  font-size: 36px;
  margin-right: 5px;
  margin-left: 10px;
}

#playlist li{
  list-style: none;
  margin: 8px 10px;
}

#home li:hover,
#playlist li:hover {
  border-left: 4px solid #ADFF2E;
}

#logo{
  height: 70px;
}

#logo img{
  width: 70%;
  height: 50px;
  margin-top: 10px;
  margin-left: 15px;
}

#home{
  height: 120px;
  list-style: none;
}

#home li{
  margin: 10px;
  list-style: none;
}

#home li:hover,
#playlist li:hover{
  color: white;
}

#home i{
  font-size: 25px;
  margin-right: 5px;
  margin-left: 10px;
}

#utname{
  height: 85px;
  position: fixed;
  bottom: 95px;
  background-color: black;
}

.playbox{
  width: 20%;
  display: flex;
  justify-content: flex-start;
  /* min-width: 258px;
  border: 1px solid white; */
}

#blockplayimg{
  /* min-height: 50px; */
  border: 1px solid white;
  /* width: 100%; */
  color: white;
  display: flex;

  align-items: center;
}

.blockplay{
  min-height: 60px;
  border: 1px solid white;
  color: white;
  font-size: 16px;
}

.blockplay h6{
  margin-top: 50px;
  margin-left: 10px;
}

.blockplay div{
  font-size: 12px;
  margin-left: 10px;
}

.blockplay i{
  margin-left: 20px;
  margin-top: 50px;
}


#blockplayimg img{
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

#playbar{
  width: 60%;
}

#container{
  /* min-height: 50px;
  border: 1px solid white; */
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.block{
  /* min-height: 50px;
  border: 1px solid white;
  min-width: 100px; */
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto 14px;
}

.container1{
  /* min-height: 50px;
  border: 1px solid white; */
  width: 100%;
  margin-top: 5px;
  margin-bottom: 35px;
  display: flex;
  justify-content: flex-start;
}

#container2{
  /* min-height: 50px;
  border: 1px solid white; */
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;

}

.block li{
  display: inline-block;
  list-style: none;
  padding-right: 12px;
  font-size: 15px;
  color: grey;
  margin-top: 8px;
  padding-bottom: 2px;
  position: relative;
}

.block #show:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid #ADFF2E;
}

.block img{
  width: 180px;
  height: 180px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -110%);
  -ms-transform: translate(-80%, -80%);
  text-align: center;
}

.block:hover img {
  opacity: 0.3;
}

.block:hover .middle {
  opacity: 1;
}


.middle i{
  font-size: 50px;
}

.icon h4{
  color: white;
  margin: 8px auto;
}

.icon{
  text-align: center;
  color: grey;
  margin-bottom: 20px;
}

#container3{
  /* min-height: 50px;
  border: 1px solid white; */
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
}

#container3 .block{
  margin: auto 13px;
}

p{
  font-size: 13px;
  color: grey;
  margin-bottom: 10px;
}

#button{
  /* min-width: 50%; */
  margin: auto;
  /* border: 1px solid red; */
  /* height: 50%; */
  text-align: center;
}

#button i{
  margin-top: 20px;
  margin-right: 10px;
  color: white;
}

#line{
  margin
  height: 3px;
  width: 30%;
  border-top: 3px solid grey;
}

#volume{
  width: 120px;
  height: 2px;
  margin-bottom: 4px;
  border: 2px solid grey;
  border-radius: 1px;
  display: inline-block;
  margin-right: 20px;
}

.fas.fa-volume-up{
  display: inline-block;
}

.maron{
  min-height: 50px;

  border: 1px solid white;
}

.maron i{

  margin-top: 50px;
  margin-left: 15px;
  margin-right: 10px;
  color: white;
}


#container3 .radius{
  border-radius: 50%;
}






@media all and (min-width: 996px) and (max-width: 1250px) {

  #container2{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  #playbar{
    flex-grow: 1;
  }

  #blockplayimg img{
    width: 50px;
    height: 50px;
    margin-left: 15px;
  }




}

@media all and (max-width: 995px) {

  #navcover{
    width: 8%;
  }

  #column{
    display: none;
  }

  #maincover{
    width: 92%;
  }

  #brow{
    width: 92%;
  }


  #container2{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .block img{
    width: 180px;
    height: 180px;
  }

  #upgrade{
    width: 24%;
  }

  #blockplayimg img{
    width: 46px;
    height: 46px;
    margin-left: 14px;
  }

  #mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #top{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
  }

  #top img{
    width: 80%;
    margin: auto;
    height: 50px;
    margin-top: 10px;
  }

  #top i{
    width: 80%;
    font-size: 30px;
    margin: auto;
    height: 50px;
    margin-top: 10px;
  }


}

@media all and (min-width: 631px) and (max-width: 776px) {



  #navcover{
    width: 12%;
  }

  #column{
    display: none;
  }

  #maincover{
    width: 88%;
  }

  #brow{
    width: 88%;
  }

  #upgrade{
    width: 30%;
  }

  #blockplayimg img{
    width: 42px;
    height: 42px;
    margin-left: 12px;
  }

}

@media all and (max-width: 630px) {

  .block img{
    width: 140px;
    height: 140px;
  }

  #navcover{
    width: 8%;
  }

  #column{
    display: none;
  }

  #maincover{
    width: 92%;
  }

  #brow{
    width: 92%;
  }

  #upgrade{
    width: 39%;
    font-size: 10px;
    padding: 12px 0;

  }

  #blockplayimg img{
    width: 38px;
    height: 38px;
    margin-left: 8px;
  }
}
