*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body{
  width: 100%;
  height: calc(100vh - 80px);
  background-color: pink;
  display: flex;
}

#play {
  width: 100%;
  height: 100px;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  display: flex;
}

#navcover{
  width: 18%;
  height: calc(100vh - 100px);
  background-color: black;
  position: fixed;
  bottom: 100px;
  left: 0;

}

#maincover{
  width: 82%;
  height: calc(100vh - 100px);
  background-color: #141922;
  position: fixed;
  right: 0;
  bottom: 100px;
  overflow-y: scroll;
}

#brow{
  width: 82%;
  height: 80px;

  background: rgba(20, 25, 34, 0.5);
  color: white;
  position: fixed;
  top: 0;
}

#upgrade{
  position: absolute;
  right: 25px;
  top: 20px;
  width: 18%;
  border: 1px solid white;
  border-radius: 20px;
  padding: 8px;
  height: 40px;
  text-align: center;
}

#column{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navtext{
  width: 100%;
  color: white;
  color: #727272;
}

#playlist{
 height: 420px;
 padding-left: 10px;
}

#playlist h6{
 font-size: 16px;
 margin: 8px auto;
 color: white;
}


#playlist i{
  font-size: 45px;
  margin-right: 5px;
}

#playlist li{
  list-style: none;
  margin: 8px auto;
}


#logo{
  height: 70px;
}

#logo img{
  width: 70%;
  height: 50px;
  margin-top: 10px;
}

#home{
  height: 120px;
  list-style: none;
}

#home li{
  margin: 10px;
  list-style: none;
}

#home li:hover,
#playlist li:hover{
  color: white;
}

#home i{
  font-size: 25px;
  margin-right: 5px;
}

#utname{
  height: 85px;
  position: fixed;
  bottom: 95px;
  background-color: black;
}

.playbox{
  min-width: 258px;
  border: 1px solid white;
}

#playbar{
  flex-grow: 2;
}
